body {
    background: url('../images/dust_scratches.png') repeat;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Border sizing styles */
.border-3 {
    border-width: 3px !important;
}

.border-2 {
    border-width: 2px !important;
}

main section {
    width: 100%;
}
/* 
p {
    font-size: 20px;
} */

#headshot {
    width: 100%;
}

/*
  These rules take effect when the browser's width
  is either 576px or more.
*/
@media screen and (min-width: 576px) {
    #headshot {
        max-width: 340px;
        max-height: auto;
    }
}

/*
  These rules take effect when the browser's width
  is either 768px or more.
*/
@media screen and (min-width: 768px) {
    main section {
        width: 741px;
        /* max-width: 75%; */
    }
}